.menu {
    @include flex();
    width:$wrapper-laptop;
    height:175px;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }

    &__item {
        @include flex();
        @include flex_direction(column);
        @include flex_align(center);
        @include flex_justify(center);
        border-radius:14px;
        width:$button-small;
        height:$button-small;
        background-image: url('../../../../assets/kategoria_button_programowanie.svg');
        background-size: cover;

        img {
            width:100px;
            margin-bottom:$space-x-small;
            transition:0.2s ease-in-out;
        }

        figcaption {
            color: $c-white;
            font-size:$space-standard;
            text-decoration: none;
        }

        &:hover {
            img {
                width:105px;
            }
        }
    }
}