.question {
    &__main
    {
        @include flex();
        @include flex-direction(row);
        @include flex_align(center);
        @include flex_justify(flex-start);
        flex-wrap: wrap;
        width:$break-mobile;
    }

    &__quest {
        @include menufont();
        color:$c-white;
        font-size:x-large;
        margin-bottom: $space-xx-large;
        text-align:center;
    }

    &__answer {
        @include flex();
        @include flex_align(center);
        width:$button-answer;
        height:$button-xxs-small;
        border-radius:$space-x-small;
        border: 1px solid $c-white;
        padding-left: $space-x-small;
        font-size:x-large;
        margin-bottom:$space-standard;
        margin-right:$space-large;
        cursor: pointer;

        &--Programowanie {
            @include menufont();
            border: 1px solid $c-lilac;
            background-image: linear-gradient(to right, $c-portgore, $c-mediumRedViolet );
        }

        &--Technologia {
            @include menufont();
            border: 1px solid $c-lilac;
            background-image: linear-gradient(to right, $c-portgore , $c-minsk);
        }

        &--Historia {
            @include menufont();
            border: 1px solid $c-white;
            background-image: linear-gradient(to right, $c-zeus , $c-hillary);
        }

        &--Kultura {
            @include menufont();
            border: 1px solid $c-white;
            background-image: linear-gradient(to right, $c-silver , $c-dove);
        }

        &--Motoryzacja {
            @include menufont();
            border: 1px solid $c-white;
            background-image: linear-gradient(to right, $c-violet, $c-ribbon);
        }

        &--right {
            box-shadow: 0 0 12px green;
        }

        &--wrong {
            box-shadow: 0 0 12px red;
        }
    }

    &__answer:hover {
        box-shadow: 0 0 4px $c-white;
    }

}