.quiz {
    @include flex();
    @include flex_justify(center);
    @include flex_align(center);
    @include flex-direction(column);
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;

    &__icon {
        width:$button-xxs-small;
        margin-bottom:20px;
    }

    &__title {
        @include menufont();
        font-size:$space-x-large;
        margin-bottom: $space-large;
    }

    &__scarf {
        &--Programowanie {
            @include menufont();
            @include scarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-minsk 50%, $c-trans);
        }

        &--Technologia {
            @include menufont();
            @include scarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-minsk 50%, $c-trans);
        }

        &--Historia {
            @include menufont();
            @include scarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-khaki 50%, $c-trans);
        }

        &--Kultura {
            @include menufont();
            @include scarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-dove 50%, $c-trans);
        }

        &--Motoryzacja {
            @include menufont();
            @include scarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-lucky 50%, $c-trans);
        }
    }

    &__small-scarf {
        @include menufont();
        font-size:$space-medium;
        margin-left: -285px;

        &--Programowanie {
            @include smallscarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-minsk 75%, $c-trans);
        }

        &--Technologia {
            @include smallscarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-minsk 75%, $c-trans);
        }

        &--Historia {
            @include smallscarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-khaki 75%, $c-trans);
        }

        &--Kultura {
            @include smallscarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-dove 75%, $c-trans);
        }

        &--Motoryzacja {
            @include smallscarf();
            background-image:repeating-linear-gradient(90deg, $c-trans, $c-lucky 75%, $c-trans);
        }

        &--circle {
            width:$button-s-small;
            height:$button-s-small;
            border-radius:50%;
            border: 2px solid $c-white;
            text-align:center;
            line-height:$button-s-small;
            display:inline-block;

            &--Programowanie {
                background-image: linear-gradient(to right, $c-portgore, $c-mediumRedViolet );
            }

            &--Technologia {
                background-image: linear-gradient(to right, $c-portgore , $c-minsk);
            }

            &--Historia {
                background-image: linear-gradient(to right, $c-zeus , $c-hillary);
            }

            &--Kultura {
                background-image: linear-gradient(to right, $c-silver , $c-dove);
            }

            &--Motoryzacja {
                background-image: linear-gradient(to right, $c-ribbon , $c-lucky);
            }
        }
    }

    &__main {
        @include flex();
        @include flex_justify(center);
        @include flex_align(center);
        @include flex_direction(column);
        width: $wrapper-mid;
        height:$button-medium;
        color:$c-white;
        @include menufont();
        font-size:$space-medium;

        &--text {
            border-top: 2px solid $c-violet;
            height:70px;
            text-align:center;
            line-height:70px;
            margin-bottom:$space-medium;
        }

        &--button {
            &--Programowanie {
                @include button();
                border: 1px solid $c-lilac;
                background-image: linear-gradient(to right, $c-portgore, $c-mediumRedViolet );
            }

            &--Technologia {
                @include button();
                border: 1px solid $c-lilac;
                background-image: linear-gradient(to right, $c-portgore , $c-minsk);
            }

            &--Historia {
                @include button();
                border: 1px solid $c-white;
                background-image: linear-gradient(to right, $c-zeus , $c-hillary);
            }

            &--Kultura {
                @include button();
                border: 1px solid $c-white;
                background-image: linear-gradient(to right, $c-silver , $c-dove);
            }

            &--Motoryzacja {
                @include button();
                border: 1px solid $c-white;
                background-image: linear-gradient(to right, $c-ribbon , $c-lucky);
            }
        }
    }

    &__pocket-menu {
        @include flex();
        @include flex_justify(center);
        @include flex_align(center);
        @include flex_direction(column);
        position: absolute;
        right:150px;
        top:20%;
        height:500px;
        width:100px;
        text-align:center;

        &--item {
            width: 100%;
            height:20%;
            margin-top:5%;
            margin-bottom:5%;
            border: 2px solid $c-lilac;
            border-radius:10px;
            cursor: pointer;

            &--Programowanie {
                background-image: linear-gradient(to right, $c-portgore, $c-mediumRedViolet );
            }

            &--Technologia {
                background-image: linear-gradient(to right, $c-portgore , $c-minsk);
            }

            &--Historia {
                background-image: linear-gradient(to right, $c-zeus , $c-hillary);
            }

            &--Kultura {
                background-image: linear-gradient(to right, $c-silver , $c-dove);
            }

            &--Motoryzacja {
                background-image: linear-gradient(to right, $c-ribbon , $c-lucky);
            }
        }

        p {
            font-size:16px;
            color:$c-white;
            font-weight: 900;
        }
    }
}

.Programowanie {
    background-image: url('../../../../assets/background_programowanie.png');
    background-size: cover;
}

.Technologia {
    background-image: url('../../../../assets/background.png');
    background-size: cover;
}

.Kultura {
    background-image: url('../../../../assets/background_kultura.png');
    background-size: cover;
}

.Historia {
    background-image: url('../../../../assets/background_historia.png');
    background-size: cover;
}

.Motoryzacja {
    background-image: url('../../../../assets/background_motoryzacja.png');
    background-size: cover;
}