@import '../../global.scss';
@import '../../fonts.scss';
@import '../../mixins.scss';
@import '../../variables.scss';
@import './components/menu.scss';
@import './components/quiz.scss';
@import './components/question.scss';

.main {
    @include flex();
    @include flex_justify(center);
    @include flex_align(center);
    @include flex_direction(column);
    font-size:$space-xx-large;

    &__icon {
        @include menufont();
        position:absolute;
        left:$space-x-large;
        top: -$space-large;
        z-index:1;
    }

    &__menu-label {
        letter-spacing: 10px;
        display:flex;
        @include menufont();
    }
}