@import './variables.scss';

.main {
    background-image: url(../assets/background_programowanie.png);
    background-size: cover;
    width:100vw;
    height:100vh;
}

a, a:visited, a:hover {
    text-decoration:none;
    color:$c-white;
}