@mixin menufont {
    font-family: 'Fredoka One' cursive;
    font-weight: 1000;
    color:$c-white;
}

@mixin flex {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

@mixin flex_justify($arg) {
    -webkit-box-pack: $arg;
    -ms-flex-pack: $arg;
    justify-content: $arg;
}

@mixin flex_align($arg) {
    -webkit-box-align: $arg;
    -ms-flex-align: $arg;
    align-items: $arg;
}

@mixin flex_direction($arg) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $arg;
    flex-direction: $arg;
}

@mixin scarf {
    font-size:$space-standard;
    height: $space-x-large;
    width:$button-large;
    text-align:center;
    margin-bottom: $space-xx-large;
    line-height: $space-x-large;
}

@mixin smallscarf {
    width:$button-x-medium;
    display:inline-block;
    text-align:center;
}

@mixin button {
    @include flex();
            @include flex_justify(center);
            @include flex_align(center);
            width:$button-large;
            font-size:$space-medium;
            border-radius: 10px;
            object-fit: contain;
            cursor: pointer;

            img {
                width:75px;
                height:75px;
                border-radius:45%;
                margin-left:$space-large;
            }
}