// === COLORS === //
$c-trans: rgba(100, 31, 133, 0);
$c-black: #000;
$c-zeus: #1D1917;
$c-hillary: #b09d87;
$c-khaki: #BFAB93;
$c-silver: #c7c7c7;
$c-dove: #6E6E6E;
$c-white: #fff;
$c-cloudy: #a7a6a5;
$c-lavender: #EE82EE;
$c-mediumRedViolet: #B2368C;
$c-portgore : #321d4d;
$c-minsk: #532f7c;
$c-lilac: #8f6dd1;
$c-ribbon: #1057FF;
$c-lucky: #1b176a;
$c-violet: #0a0f37;

$c-button: $c-cloudy;

// === FONTS === //


// === BREAKS === //
$break-xs: 480px;
$break-mobile: 767px;
$break-laptop: 991px;
$break-mid: 1299px;
$break-high: 1600px;

// === MINIMUM DEVICE SIZE === //
$tablet-min: 768px;
$desktop-min: 1200px;

// === GRID === //
$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$wrapper-s-mobile: 300px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;

// === PADDING, MARGINS === //
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;

// === BUTTONS === //
$button-xxs-small: 80px;
$button-xs-small: 90px;
$button-s-small: 134px;
$button-small: 180px;
$button-s-medium: 200px;
$button-medium: 250px;
$button-x-medium: 294px;
$button-large: 375px;
$button-answer: 215px;